#login > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: hsla(20, 100%, 99%, 0.7);
  height: fit-content;
  width: 230px;
  padding: 50px;
  border-radius: 15px;
  cursor: pointer;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login > form > input {
  padding: 15px;
  width: 200px;
  border-radius: 15px;
  font-size: 15px;
}
#login > form > button {
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(65, 18, 109);
  color: whitesmoke;
  font-size: 15px;
  border: none;
}
.inputError {
  font-size: 15px;
  color: black;
  text-align: center;
}
